<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <style>
        body{
            background: linear-gradient(45deg,rgb(211, 211, 211),rgb(135, 250, 231));
        }
        h5 {

            color: #8f1800;
            margin-top: 50px;
        }
        table {
            border-collapse: collapse;
            margin: auto;
            font-family: Arial, sans-serif;
            font-size: 14px;
            width: 80%;
            background-color: #f2f2f242;
            box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
            border-radius: 10px;
        }

        td, th {
            border: 1px solid #0b0b0b;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #05008f;
            color: white;
            font-weight: bold;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
        /* button {
        background-color: #008f00;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    } */
    </style>
    <script>
        $(document).ready(function() {
            $("#add").click(() => {
                //alert("click event")
                window.location.href = "http://localhost:8082/web/add/";
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $("#update").click(() => {
                //alert("click event")
                window.location.href="http://localhost:8082/web/updatePayee/";
                });
            });
    </script>

    <script>
        $(document).ready(function() {
            $("#pay").click(() => {
                //alert("click event")
                window.location.href = "http://localhost:8082/web/pay/";
            });
        });

    </script>

    <script>

        let payee_id
        let customer_id
        function update(payeeId,customerId) {
            sessionStorage.setItem("customer_id",customerId)
            sessionStorage.setItem("payee_id",payeeId)
            window.location.href="http://localhost:8082/web/updatePayee"
        }
function showPayee(user) {
   // var user = sessionStorage.getItem("logged");
    var soapRequest = "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:soap=\"http://soap.bank.service\">\n" +
        "   <soapenv:Header/>\n" +
        "   <soapenv:Body>\n" +
        "      <soap:listPayeeRequest>\n" +
        "      <soap:username>" + user + "</soap:username>\n" +
        "</soap:listPayeeRequest>" +
        "</soapenv:Body>" +
        "</soapenv:Envelope>";
    // alert(user)
    $.ajax({
        url: "http://localhost:8082/PayeePoint",
        type: "POST",
        dataType: "xml",
        contentType: "text/xml;charset=\"UTF-8\"",
        data: soapRequest,
        success: (data) => {
            // console.log(new XMLSerializer().serializeToString(data));
            $(data).find('ns2\\:payee').each(function () {
                var payeeId = $(this).find('ns2\\:payee_id').text();
                var payeeName = $(this).find('ns2\\:payee_name').text();
                var payeeAccNum = $(this).find('ns2\\:payee_account_number').text();
                var customerId = $(this).find('ns2\\:customer_id').text();
                console.log(payeeName + " " + payeeId)
                $("#payeeTable").append("<tr><td>" + payeeId + "</td><td>" + payeeName + "</td><td><button type='button' class='btn btn-success' onclick=\"update('"+payeeId+"',"+customerId+")\"> update </button></td></tr>");

            });
        },
        error: () => {
            alert("error")
        }
    });
}

        $(document).ready(()=>{
            $.ajax({
                url: "http://localhost:8082/payee/username",
                type: "GET",
                success:(data) =>{
                    showPayee(data)
                }
// getUserDetails(data)
            })
        })

    </script>
</head>
<body>

<marquee class="text-dark" direction="right">
    <p>Welcome tpo ALPHA bank,happy login!!!!Bank never asks you to share passwords,Beware of fraud sms!!!!!!!!</p>
</marquee>
<p align="right">
    <a th:href="@{/logout}" ><button type="submit" value="logout" >LOGOUT</button></a>
</p>
<div class="=container">

    <div class="d-flex justify-content-center mt-1">
        <img  src="/images/LOGO2.png" width="100px" height="100px">
    </div>

    <h5>AVAILABLE OPTIONS:</h5>
    <button type="button" id="add" class=" btn col-2 btn-primary">ADD</button>
    <button type="button" id="update" class=" btn col-2 btn-success">UPDATE</button>
    <button type="reset" id="pay" class=" btn col-2 btn-primary">PAYMENT TRANSFER</button>

    <div class="row">
        <div class="table-responsive col-lg-8">
            <h2 class="text-dark">LIST OF PAYEES</h2>
            <table style="width: 90%; height: auto;">
                <thead>
                <tr>
                    <th>PAYEE ID</th>
                    <th>PAYEE NAME</th>
                    <th>OPTION</th>
                </tr>
                </thead>
                <tbody id="payeeTable">

                </tbody>

            </table>
        </div>
        <div class="col-lg-4">

            <div class="search-container">
                <form action="">
                    <input type="text" placeholder="Search payee" name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </div>
            <div class="card mt-4 h-80 w-80 ">
                <h4 class="bg-secondary shadow-lg ">STEPS TO CREATE NEW ACCOUNT</h4>
                <marquee direction="down" scrollamount="2">
                    1.Go to the Google Account sign in page.<br>
                    2.Click Create account.<br>
                    3.Enter your name.<br>
                    4.In the "Username" field, enter a username.<br>
                    5.click next.<br>
                </marquee>
            </div>
            <div class="card mt-4 h-80 w-80 ">
                <h4 class="bg-secondary shadow-lg ">EXISTING ACCOUNT LOGIN</h4>
                <marquee direction="up" scrollamount="2">
                    1.Click Create account.<br>
                    2.Enter your name.<br>
                    3.Click Use my current email address instead.<br>
                    4.Enter your current email address.<br>
                    5.Click Next.<br>
                    6.Verify your email address with the code sent to your existing email.<br>
                    7.Click Verify.<br>
                </marquee>
            </div>
        </div>
    </div>
</div>
</body>
</html>