<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<script>-->
<!--    let dreg="hello";-->
<!--    let customer;-->
<!--    $(document).ready(function(){-->

<!--        $("#btn").click(()=>{-->
<!--// alert("JS working")-->

<!--            // const customer_id=$("input[name=customer_id]").val();-->
<!--            // const customer_name=$("input[name=customer_name]").val();-->
<!--            // const customer_status=$("input[name=customer_status]").val();-->
<!--            // const customer_address=$("input[name=customer_address]").val();-->
<!--            // const customer_contact=$("input[name=customer_contact]").val();-->
<!--            const username=$("input[name=username]").val();-->
<!--            const password=$("input[name=password]").val();-->
<!--            //const failed_attempts=$("input[name=failed_attempts]").val();-->

<!--            $.post("insert",{-->
<!--                // "customer_id":customer_id,-->
<!--                // "customer_name":customer_name,-->
<!--                // "customer_status":customer_status,-->
<!--                // "customer_address":customer_address,-->
<!--                // "customer_contact":customer_contact,-->
<!--                "username":username,-->
<!--                "password":password-->
<!--            },function(data){-->
<!--                fetchDetails();-->

<!--            })-->


<!--            $("input[name=username]").val("");-->
<!--            $("input[name=password]").val("");-->
<!--            // $("input[name=age]").val("");-->
<!--            // $("input[name=email]").val("");-->
<!--            // $("input[name=cDoor]").val("");-->
<!--            // $("input[name=cStreet]").val("");-->
<!--            // $("input[name=cCity]").val("");-->
<!--            // $("input[name=cPincode]").val("");-->
<!--            // $("input[name=pDoor]").val("");-->
<!--            // $("input[name=pStreet]").val("");-->
<!--            // $("input[name=pCity]").val("");-->
<!--            // $("input[name=pPincode]").val("");-->

<!--        })-->
<!--</body>-->
<!--</html>-->

